@model IEnumerable<PuntoVenta.Models.InvMovimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechamov)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idtipoajuste)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechamov)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idtipoajuste)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMovimientos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMovimientos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMovimientos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
