@model PuntoVenta.Models.InvMaestroCuenta

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InvMaestroCuenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDependiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDependiente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montopago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montopago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montoefectivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montoefectivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montotarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montotarjeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImpuestoServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImpuestoServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoPago)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCuenta" />
        <input type="hidden" asp-for="IdFecha" />
        <input type="hidden" asp-for="IdClienteUbicacion" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
