@model IEnumerable<PuntoVenta.Models.InvMaestroCuenta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDependiente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montopago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montoefectivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montotarjeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImpuestoServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoPago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDependiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montopago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montoefectivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montotarjeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImpuestoServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoPago)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
