@model PuntoVenta.Models.InvArticulo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InvArticulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUnidadMedida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUnidadMedida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUbicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUbicacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesoBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesoBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantExistencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantExistencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantReservado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantReservado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantpedidominimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantpedidominimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantareponer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantareponer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndNumeroserie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndNumeroserie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndFraccionado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndFraccionado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndConsignacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndConsignacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndFechavencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndFechavencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndVentapeso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndVentapeso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndCompuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndCompuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaultimaCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaultimaCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costopromedio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costopromedio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Montoimpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Montoimpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndInventario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndInventario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntDescuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntDescuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFamiliaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFamiliaNavigation.IdFamilia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProveedorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProveedorNavigation.IdProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdSubfamiliaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdSubfamiliaNavigation.IdSubfamilia)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
